body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/dark_flower_bg.webp");
}

.nav-container a {
  padding: 20px;
  color: black;
}
a {
  text-decoration: none;
  color: white;
}

.container {
  display: flex;
  width: 90%;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 150px;
  margin-left: 60px;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.box {
  display: flex;
  flex-flow: row wrap;
  width: 500px;
  height: 500px;
  background-color: #bfbfbf;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  flex-direction: column;
}

.box:hover {
  background-color: #e18fad;
}
.box1:hover {
  background-color: #8dc5e5;
}
.box2:hover {
  background-color: #bbda88;
}
.box3:hover {
  background-color: #ba86e8;
}

.box1 {
  display: flex;
  flex-flow: row wrap;
  width: 500px;
  height: 500px;
  background-color: #bfbfbf;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  flex-direction: column;
}

.box2 {
  display: flex;
  flex-flow: row wrap;
  width: 500px;
  height: 500px;
  background-color: #bfbfbf;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  flex-direction: column;
}
.box3 {
  display: flex;
  flex-flow: row wrap;
  width: 500px;
  height: 500px;
  background-color: #bfbfbf;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
}
