body {
  /* https://codepen.io/t_afif/pen/GRGmvbo */
  --s: 50px;
  --c: #dbcaa0;
  --_s: calc(2 * var(--s)) calc(2 * var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #85695900 66%, #b49b69 68% 70%, #87563500 72%;
  background: radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s) /
      var(--_s),
    radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s) / var(--_s),
    radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0 / var(--_s),
    radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0 / var(--_s),
    repeating-conic-gradient(var(--c) 0 25%, #0000 0 50%) 0 0 / var(--_s),
    radial-gradient(var(--_c)) 0 calc(var(--s) / 2) / var(--s) var(--s) var(--c);
  background-attachment: fixed;
}

.crane1 {
  position: absolute;
  left: 28px;
  top: 780px;
  width: 70px;
  height: 70px;
  rotate: 20deg;
}

.crane2 {
  position: absolute;
  left: 120px;
  top: 740px;
  width: 60px;
  height: 70px;
  rotate: 0deg;
  transform: scaleX(-1);
}

.crane3 {
  position: absolute;
  left: 150px;
  top: 840px;
  width: 70px;
  height: 70px;
  rotate: -22deg;
  transform: scaleX(1);
}

.crane4 {
  position: absolute;
  left: 230px;
  top: 750px;
  width: 60px;
  height: 70px;
  rotate: 12deg;
  transform: scaleX(-1);
}

.crane5 {
  position: absolute;
  left: 290px;
  top: 830px;
  width: 70px;
  height: 70px;
  rotate: 12deg;
  transform: scaleX(1);
}

.crane6 {
  position: relative;
  right: 0px;
  top: 10px;
  width: 100px;
  height: 100px;
  rotate: 3deg;
  transform: scaleX(1);
}

.crane7 {
  position: relative;
  right: 33px;
  top: 95px;
  width: 94px;
  height: 95px;
  rotate: 33deg;
  transform: scaleX(-1);
}

.crane8 {
  position: relative;
  right: 40px;
  top: 30px;
  width: 88px;
  height: 89px;
  rotate: 22deg;
  transform: scaleX(1);
}

.crane9 {
  position: relative;
  right: 40px;
  top: 60px;
  width: 100px;
  height: 100px;
  rotate: -5deg;
  transform: scaleX(-1);
}

.nav-container a {
  padding: 20px;
  color: black;
}
a {
  text-decoration: none;
  color: rgb(85, 49, 20);
  display: block;
}

.link1 {
  position: relative;
  left: 0;
  top: 50px;
  width: 90px;
  height: 100px;
  rotate: 20deg;
}

p {
  color: beige;
}
hr {
  color: rgb(85, 49, 20);
}
.container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-left: 0px;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

body[data-status="morning"] #c {
  background: rgb(62, 85, 154);
  background: linear-gradient(
    180deg,
    rgb(116, 136, 194) 0%,
    rgb(141, 194, 201) 20%,
    rgba(166, 218, 223, 1) 94%
  );
}
body[data-status="afternoon"] #c {
  background: rgb(62, 85, 154);
  background: linear-gradient(
    180deg,
    rgba(62, 85, 154, 1) 0%,
    rgba(76, 126, 181, 1) 20%,
    rgba(166, 218, 223, 1) 94%
  );
}
body[data-status="evening"] #c {
  background: rgb(34, 42, 65);
  background: linear-gradient(
    180deg,
    rgba(34, 42, 65, 1) 0%,
    rgba(49, 32, 132, 1) 20%,
    rgba(149, 72, 52, 1) 94%
  );
}
body[data-status="night"] #c {
  background: rgb(34, 42, 65);
  background: linear-gradient(
    180deg,
    rgb(6, 10, 23) 0%,
    rgb(19, 13, 49) 20%,
    rgb(30, 14, 10) 94%
  );
}

body[data-status="night"] #sun_moon {
  background-color: #98a2a4;
  height: 50px;
  width: 50px;
  bottom: 20%;
}

body[data-status="morning"] #sun_moon {
  background-color: #e4e47c;
  bottom: 30%;
}

body[data-status="afternoon"] #sun_moon {
  background-color: #e5c742;
  bottom: 10%;
}

body[data-status="evening"] #sun_moon {
  bottom: -30%;
}

.box1 {
  display: flex;
  overflow: hidden;
  flex-flow: row wrap;
  width: 80px;
  height: 500px;
  align-items: center;
  justify-content: center;
  border: 5px solid #4e422c;
  flex-direction: column;
}

.dot {
  height: 75px;
  width: 75px;
  background-color: #c95f3b;
  border-radius: 50%;
  position: relative;
  bottom: 20%;
}

.table {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 200px;
  background-color: black;
  border: 10px solid rgb(53, 53, 53);
}
